@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
  width: 100%;
  height: 100%;
}

html {
  font-family: 'Open Sans', sans-serif;
}

gn-map {
	/** 100vh - paper-toolbar height **/
	height: calc(100vh - 64px);
}