/***** General definitions *****/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
	width: 100%;
	height: 100%;
}

html {
	font-family: 'Open Sans', sans-serif;
}

gn-map {
  height: calc(100% - 50px);
}

/* TODO: fix gn-profiles hide if not used */
gn-profiles {
  display: none;
}

/*************************** Global Definitions **********************************/
.clear {
  clear: both;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
}

/**************** GLOBAL -  Paper Input Container*/
.paper-input-container {
  margin: 0;
  padding: 0;
  width: 240px;
}

/**************** Googlemap Navigation Switch Landscape*/

/**************** GMAP deaktiviert */
.gm-style-mtc {
  display: none;
}
/**************** SIDEBAR - GN-UI-SEARCH - SETTINGS ********************/
/**************** Zwischenziele */
#intermediate-objectives {
  min-height: 1px;
  max-height: 130px;
  overflow: auto;
}

#intermediate-objectives .input-field .paper-input-container {
  width: 190px;
  float: left;
}

#intermediate-objectives .remove-button {
  margin: 0 0 0 0;
}

/**************** ADD Zwischenziele Button  */
.add-object-label {
  display: inline-block;
}

/**************** User Preferences - Binden der Klassen direkt an den Container - Muss in extern CSS sein, da in Element Style nicht greift*/
#user-preferences {
  width: 100%;
  margin: 20px 0;
}

#user-preferences .slider-label {
  width: 65px;
  float: left;
  padding: 4px 0 0 0;
}

#user-preferences .paper-slider-0 {
  width: 190px;
  padding: 0;
  margin: 0;
}

/**************** SETTINGS */
#settings-content .paper-checkbox-0 {
  margin: 0 0 15px 0;
  display: block;
}