/***** General definitions *****/
* {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
}

body {
	font: 13px "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}

/***** Style sheet for links *****/

a:link, a:visited, a:active {
	color: #0b5c26;
	-color: #192f16;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

.button-panel {
	text-align: center;
}

/***** Style sheet for input panel *****/

#gninput {
	position: relative;
	margin: 10px;
	display: inline-block;
	float: left;
	background-color: white;
	z-index: 1;
}
#gninput > div {
	margin: 0px;
	padding: 10px;
}

/***** Style sheet for directions panel *****/

#directions {
	position: relative;
	margin: 10px;
	display: inline-block;
	float: right;
	background-color: white;
	z-index: 1;
}

/***** Style sheet for map in the background *****/

gn-map { /* Map is placed below header */
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
}

/***** Throw a shadow *****/

#gninput, #directions > * {
	filter: Shadow(color = #888888, direction = 180);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px
		rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px
		rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25), -4px 4px 4px
		rgba(0, 0, 0, 0.25);
}

/***** Style sheet for small screens *****/

@media (max-width: 500px) {
	div#header {
		background-color: red;
	}

	/* Default, show starting screen */
	div.content > #map,
	div.content > #directions {
		display: none;
	}
	div.content > #gnunput {
		width: 100%;
		margin: 0;
	}

	/* After clicking on 'start routing', show map */
	div.routing > #gninput,
	div.routing > #directions {
		display: none;
	}
	div.routing > #map {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
	}
}
