/***** General definitions *****/
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html, body {
	height: 100%;
	margin: 0;	
}

gn-map {
	height: 100%;
}

paper-toolbar {
	height: 100%;
}

html {
	font-family: 'Open Sans', sans-serif;
}