<link rel="import" href="../libs/polymer/polymer.html"></link>
<link rel="import" href="../libs/paper-input/paper-input.html"></link>
<link rel="import" href="../libs/paper-checkbox/paper-checkbox.html"></link>
<link rel="import" href="gn-gpsreceiver.html"></link>

<dom-module id="gn-dyn-adr">
	<link rel="import" type="css" href="../css/components.css"></link>
<style>
:host.gps {
	display: block;
}
:host.gps > paper-input {
	float: left;
}
:host.gps > paper-checkbox {
	overflow: hidden
}
</style>
	<template>
		<gn-gpsreceiver active="{{gpsactive}}" location="{{location}}"></gn-gpsreceiver>
		<!-- iron-ajax
			id="ajax"
			verbose
			auto
			url="[[url]]"
			handle-as="json"
			last-response="{{vehicles}}"
			></iron-ajax> -->
		<paper-input label="[[label]]" value="{{value}}"></paper-input>
		<template is="dom-if" if="[[gpsactive]]">
			<paper-checkbox checked>GPS</paper-checkbox>
			<iron-icon icon="arrow-drop-down" suffix></iron-icon>
		</template>
		<div style="clear:both"></div>
	</template>
</dom-module>

<script>
(function() {
    'use strict';
	
	Polymer({
		is : 'gn-dyn-adr',
		properties : {
			label : {
				type : String
			},
			gpsactive : {
				type : Boolean,
				observer : 'gpsactivechange'
			},
			value : {
				type : String,
				notify : true
			}
		},
		gpsactivechange : function(gpsactive) {
			console.log(gpsactive);
			if (gpsactive) {
				$(this).addClass("gps");
			} else {
				$(this).removeClass("gps");
			}
		}
	});
})();
</script>
