<link rel="import" href="../libs/polymer/polymer.html"></link>
<link rel="import" href="app-data.html"></link>

<dom-module id="gn-gpsreceiver">
  <app-data key="location" data="{{location}}"></app-data>
</dom-module>

<script>
	(function() {
		Polymer({
			is : 'gn-gpsreceiver',
			properties : {
				location : {
					type : Object,
					value : null,
					notify : true
				},
				active : {
					type : Boolean,
					value : false,
					notify : true
				}
			},
			gpsupdate : function (lat, lon) {
				this.location = {
					lat: lat,
					lon: lon
				};
				this.active = true;
			},
			ready : function() {
				window.gpsreceiver = this;
				if (android.registerGPSCallback) {
					android.registerGPSCallback("window.gpsreceiver.gpsupdate");
					this.active = true;
				}
			}
		});
	})();
</script>