<link rel="import" href="../libs/polymer/polymer.html">

<link rel="import" href="app-data.html"></link>
<link rel="import" href="gn-contact.html"></link>
<link rel="import" href="gn-info.html"></link>
<link rel="import" href="gn-language.html"></link>

<link rel="import" href="../libs/iron-pages/iron-pages.html"></link>
<link rel="import" href="../libs/paper-tabs/paper-tabs.html"></link>

<dom-module id="gn-header">
	<link rel="import" type="css" href="../css/components.css">
	<style>

div#header {
	position: relative;
	height: 70px;
	border-bottom: 1px solid #888888;
	z-index: 5;
	overflow: hidden;
}

div#header_logo {
	font-size: 15px;
	margin: 2px 0px 0px 10px;
	float: left;
}

div#header_nav {
	position: absolute;
	right: 0px;
	margin: 5px;
	color: #Ob5c26;
	float: right;
}

div#header_nav paper-button {
	width: 90px;
}

div#error {
	position: absolute;
	top: 5px;
	right: 5px;
	color: #FF0000;
}

div#header_nav a:link, div#header_nav a:visited {
	text-decoration: none;
}

div#header_nav a:hover {
	text-decoration: underline;
}
	</style>
	<template>
		<app-data key="language" data="{{lang}}"></app-data>

			<div id="header_logo">
				<img src="../images/banner600.png" height="65" alt="Green Navigation" />
			</div>
			<div id="header_nav">
				<paper-button on-click="showinfo">[[lang.info]]</paper-button> |
				<paper-button on-click="showcontact">[[lang.contact]]</paper-button> |
				<gn-language lang="{{lang}}"></gn-language>
			</div>

		<gn-contact show="{{showcontact}}" lang="[[lang]]"></gn-contact>
		<gn-info show="{{showinfo}}" lang="[[lang]]"></gn-info>
	</template>
</dom-module>

<script>
(function() {
    'use strict';
	
	Polymer({
		is : 'gn-header',
	});
	
})();
</script>
