<link rel="import" href="../libs/polymer/polymer.html">
<link rel="import" href="../libs/paper-dialog/paper-dialog.html">
<link rel="import" href="../libs/paper-dialog-scrollable/paper-dialog-scrollable.html">

<dom-module id="gn-info">
	<link rel="import" type="css" href="../css/components.css">
	<template>
<paper-dialog id="modal" modal>

	<div style="float:right;">
		<paper-button dialog-confirm autofocus>[[lang.close]]</paper-button>
	</div>
	<h4>Green Navigation - Information</h4>
    
	<paper-dialog-scrollable>
		<p>
		Diese Webanwendung entsteht im
		Rahmen der Forschung zur gr&uuml;nen Navigation am Institut f&uuml;r Softwaretechik und Programmiersprachen (ISP) an
		der Universit&auml;t zu L&uuml;beck. Im Vergleich zu anderen Routenplanern ist das Ziel von Green Navigation einen
		m&ouml;glichst energieeffizienten Weg zu berechnen. Desweiteren ist es m&ouml;glich, die Reichweite von
		Elektrofahrzeugen abh&auml;ngig von ihrem Ladezustand zu berechnen. <br /> Im Rahmen dieser Forschung waren
		verschiedene studentische Projektarbeiten beteiligt. Weitere Informationen finden Sie auf unserer Homepage.
		</p>
		
		<h5>H&auml;ufig gestellte Fragen</h5>
		<ul>
			<li>Warum funktioniert die Strecke von A nach B nicht?</li>
		</ul>
		Hierf&uuml;r kann es verschiedene Gr&uuml;nde geben. Da Green Navigation derzeit nur das Gebiet Schleswig-Holstein
		umfasst, k&ouml;nnen Start- und Zielpunkt auch nur aus Schleswig Holstein gew&auml;hlt werden. Wir arbeiten bereits an
		der Integration deutschlandweiter Daten. Eine weitere M&ouml;glichkeit w&auml;re, dass der Routing-Server derzeit
		nicht verf&uuml;gbar ist (beispielsweise aufgrund von Wartungsarbeiten).
		<ul>
			<li>Wo finde ich weitere Informationen zur Funktionsweise von GreenNav?</li>
		</ul>
		Wir verweise dabei auf die unten angegebenen Links. Hier finden Sie eine etwas detailliertere Beschreibung von
		GreenNav.
		
		<h5>Links</h5>
		<ul>
			<li><a href="https://www.isp.uni-luebeck.de/research/projects/green-navigation" target="_blank">Homepage des
					ISP</a></li>
			<li><a href="http://redmine.isp.uni-luebeck.de/" target="_blank">Redmine f&uuml;r Entwickler</a></li>
		</ul>
	</paper-dialog-scrollable>
</paper-dialog>
	</template>
</dom-module>

<script>
	(function() {
		Polymer({
			is : 'gn-info',
			properties : {
				show : {
					type: Object,
					notify: true
				},
				lang : Object
			},
			ready : function () {
				var self = this;
				this.show = function() {
					self.$.modal.open();
				}
			},
		});
	})();
</script>
