<link rel="import" href="../libs/polymer/polymer.html"></link>
<link rel="import" href="../libs/iron-ajax/iron-ajax.html"></link>

<dom-module id="gn-path-follower"></dom-module>

<script>
	Polymer({
		is : 'gn-path-follower',
		properties : {
			path : Object,
			gps : {
				type: Object,
				observer: 'update'
			},
			from : {
				type: Object,
				notify: true
			},
			to : {
				type: Object,
				notify: true
			},
			dist : {
				type: Number,
				notify: true,
				value: 1 // debug
			}
		},
		// update values because gps data changed
		// approximate the current edge and compute distance to next direction
		update : function() {
			if (this.path && this.gps) {
				// for each edge e in this.path
				// compute metrics to current gps
				// if edge matches
				// set from, to and dist
				this.from = this.path[0]; // debug
				this.to = this.path[1]; // debug
				this.dist = 10 - this.dist; // debug
			}
		},
	});
</script>
