<link rel="import" href="../libs/polymer/polymer.html"></link>
<link rel="import" href="../libs/iron-ajax/iron-ajax.html"></link>

<dom-module id="gn-routing-service">
	<template>
		<iron-ajax
			id="ajax"
			verbose
			url="[[url]]"
			handle-as="json"
			last-response="{{resp}}"
			headers='{"Accept": "text/plain;charset=UTF-8"}'></iron-ajax>
	</template>
</dom-module>

<script>
	Polymer({
		is : 'gn-routing-service',
		properties : {
			start : String,
			destination : String,
			vehicle : String,
			battery : Number,
			opt : {
				type : String,
				value : 'energy'
			},
			algorithm : String,
			url : {
				type: String,
				notify: true
			},
			resp : {
				type : Object,
				notify : true
			},
			route : {
				type : Array,
				notify : true,
				computed : '_ajaxresponse(resp)'
			},
			doit : {
				type : Object,
				notify: true,
				value : function () {
					var t = this;
					return function () {
						if (t.start && t.destination && t.vehicle) {
							t.url = GreenNav.webservice + "/greennav/vehicles/" + t.vehicle
								+ "/routes/" + t.start + "-" + t.destination
								+ "/opt/" + t.opt + "?battery=" + t.battery + "&algorithm=EnergyAStar";
							console.log("do it", t.url);
							t.$.ajax.generateRequest();
						}
					};
				}
			}
		},
		_ajaxresponse : function(resp) {
			if (resp) {
				this.fire('done');
				return resp.route;
			}
		},
	});
</script>
