<link rel="import" href="../libs/polymer/polymer.html">
<link rel="import" href="../libs/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../libs/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../libs/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../libs/iron-icons/iron-icons.html">
<link rel="import" href="../libs/iron-flex-layout/classes/iron-flex-layout.html">

<!-- Neon Elements -->
<link rel="import" href="../libs/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../libs/neon-animation/animations/slide-from-left-animation.html">
<link rel="import" href="../libs/neon-animation/animations/fade-out-animation.html">

<dom-module id="gn-ui-information">
<style>
.container {
  padding: 15px;
}
.headline {
  width: 250px;
  height: 30px;

}
.headline h2 {
  margin: 0;
  padding: 1px 0 0 0;
  float: left;
}

.headline .right {
  float: right;
}
</style>
  <template>
   <paper-header-panel>
      <div class="container">
       <div class="headline"><h2>Information</h2>
	<paper-icon-button class="right" icon="close" on-tap="showHeadermenu"></paper-icon-button>
       </div>
       <div class="clear"></div>
	<p>
          Diese Webanwendung entsteht im
          Rahmen der Forschung zur gr&uuml;nen Navigation am Institut f&uuml;r Softwaretechik und Programmiersprachen (ISP) an
          der Universit&auml;t zu L&uuml;beck. Im Vergleich zu anderen Routenplanern ist das Ziel von Green Navigation einen
          m&ouml;glichst energieeffizienten Weg zu berechnen. Desweiteren ist es m&ouml;glich, die Reichweite von
          Elektrofahrzeugen abh&auml;ngig von ihrem Ladezustand zu berechnen. <br /> Im Rahmen dieser Forschung waren
          verschiedene studentische Projektarbeiten beteiligt. Weitere Informationen finden Sie auf unserer Homepage.
        </p>
        <h5>H&auml;ufig gestellte Fragen</h5>
        <ul>
          <li>Warum funktioniert die Strecke von A nach B nicht?</li>
        </ul>
          Hierf&uuml;r kann es verschiedene Gr&uuml;nde geben. Da Green Navigation derzeit nur das Gebiet Schleswig-Holstein
          umfasst, k&ouml;nnen Start- und Zielpunkt auch nur aus Schleswig Holstein gew&auml;hlt werden. Wir arbeiten bereits an
          der Integration deutschlandweiter Daten. Eine weitere M&ouml;glichkeit w&auml;re, dass der Routing-Server derzeit
          nicht verf&uuml;gbar ist (beispielsweise aufgrund von Wartungsarbeiten).
        <ul>
          <li>Wo finde ich weitere Informationen zur Funktionsweise von GreenNav?</li>
        </ul>
          Wir verweise dabei auf die unten angegebenen Links. Hier finden Sie eine etwas detailliertere Beschreibung von
          GreenNav.
        <h5>Links</h5>
        <ul>
          <li><a href="https://www.isp.uni-luebeck.de/research/projects/green-navigation" target="_blank">Homepage des ISP</a></li>
          <li><a href="http://redmine.isp.uni-luebeck.de/" target="_blank">Redmine f&uuml;r Entwickler</a></li>
        </ul>
      </div>
      </paper-header-panel>
  </template>

  <script>
    Polymer({
      is: 'gn-ui-information',
      behaviors: [Polymer.NeonAnimatableBehavior],
      properties: {
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'slide-from-right-animation',
                node: this
              },
              'exit': {
                name: 'slide-right-animation',
                node: this
              }
            }
          }
        }
      },
      showHeadermenu: function() {
        this.fire('headerswitch', {selected: 0}); // Headermenu
      }
    });
  </script>

</dom-module>