<link rel="import" href="../libs/polymer/polymer.html">

<link rel="import" href="../libs/paper-button/paper-button.html">
<link rel="import" href="../libs/paper-card/paper-card.html">
<link rel="import" href="../libs/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../libs/paper-input/paper-input.html">
<link rel="import" href="../libs/paper-item/paper-item.html">
<link rel="import" href="../libs/paper-item/paper-item-body.html">
<link rel="import" href="../libs/paper-listbox/paper-listbox.html">
<link rel="import" href="../libs/paper-menu/paper-menu.html">
<link rel="import" href="../libs/paper-slider/paper-slider.html">
<link rel="import" href="../libs/paper-tabs/paper-tabs.html">
<link rel="import" href="../libs/paper-toast/paper-toast.html">

<link rel="import" href="../libs/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../libs/iron-icons/maps-icons.html">
<link rel="import" href="../libs/iron-pages/iron-pages.html">

<link rel="import" href="../libs/gn-api/gn-api.html">
<link rel="import" href="../libs/gn-search/gn-search.html">

<link rel="import" href="../libs/address-decoder/address-decoder.html">

<link rel="import" href="../css/theme.html">


<dom-module id="gn-ui-search">
	<template>
		<style>
			.ui {
				padding: 10px;
			}
			
			.block {
				white-space: nowrap;
			}
			
			.block * {
				display: inline-block;
			}
			
			.list-overlay {
				position: absolute;
				z-index: 1;
				overflow: auto;
				padding: 0;
			}
			
			.hidden {
				display: none;
			}
			
			paper-item {
				margin: 5px;
				padding: 5px;
			}
		</style>
		
		<address-decoder 
			id="start" 
			input="{{ startQuery }}" 
			addresses="{{ startAddresses }}"></address-decoder>
			
		<address-decoder 
			id="target" 
			input="{{ targetQuery }}" 
			addresses="{{ targetAddresses }}"></address-decoder>
		
		<gn-api
			vehicles="{{ vehicles }}"
			range="{{ range }}"
			route="{{ route }}"
			start-osm-id="{{ startAddress.osm_id }}"
			target-osm-id="{{ targetAddress.osm_id }}"
			battery="{{ battery }}"
			vehicle="{{ vehicle }}"></gn-api>
					

		<!-- Container for the ui -->
		<div class="ui">
			
			<div>
					<div class="block">
						<h3>Route</h3>
						<span class="flex"></span>
						<paper-icon-button icon="settings"></paper-icon-button>	
					</div>
				
				<!-- Addresses -->
				<div class="block">
					<paper-input label="Start" value="{{ startQuery }}" 
						on-keyup="validateStart" id="start-input"></paper-input>
					<iron-icon icon="maps:navigation"></iron-icon>
				</div>
				
				<paper-listbox class="list-overlay dropdown-content" selected="{{ startAddress }}" 
					on-iron-select="_startSelected" id="start-addresses-list">
					<template is="dom-repeat" items="{{ startAddresses }}">
						<paper-item value="{{ item }}">
							<paper-card heading="{{ item.class }}">
								<div class="card-content">
									<small>{{ item.display_name }}</small>
								</div>
							</paper-card>
						</paper-item>
					</template>
				</paper-listbox>
				
				<div class="block">
					<paper-input label="Destination" value="{{ targetQuery }}"
						on-keyup="validateTarget" id="target-input"></paper-input>
					<iron-icon icon="maps:navigation"></iron-icon>
				</div>
				
				<paper-listbox class="list-overlay dropdown-content" selected="{{ targetAddress }}" 
					on-iron-select="_targetSelected" id="target-addresses-list">
					<template is="dom-repeat" items="{{ targetAddresses }}">
						<paper-item value="{{ item }}">
							<paper-card heading="{{ item.class }}">
								<div class="card-content">
									<small>{{ item.display_name }}</small>
								</div>
							</paper-card>
						</paper-item>
					</template>
				</paper-listbox>
				
				<!--<div>
					<div>Energy</div>
					<paper-slider min="0" max="100" value="50" pin></paper-slider>
					<div>Time</div>
					<paper-slider min="0" max="100" value="50" pin></paper-slider>
					<div>Distance</div>
					<paper-slider min="0" max="100" value="50" pin></paper-slider>
					<div>Cost</div>
					<paper-slider min="0" max="100" value="50" pin></paper-slider>
				</div>-->
								
				<!-- Vehicle -->
				<paper-dropdown-menu label="Vehicle" selected-item-label="{{ vehicle }}">
					<paper-menu class="dropdown-content" selected="0">
						<template is="dom-repeat" items="{{ vehicles }}">
							<paper-item>{{ item }}</paper-item>
						</template>
					</paper-menu>
				</paper-dropdown-menu>

				<!-- Battery -->
				<paper-input
					id="battery" label="Battery state"
					auto-validate
					pattern="100|[1-9][0-9]|[1-9]"
					error-message="Must be a percentage"
					value="{{ battery }}"></paper-input>
				
				<div class="block">
					<paper-button raised
						on-click="document.querySelector('gn-api').getRoute()">
						<iron-icon icon="maps:map"></iron-icon>
						Show<br>route
					</paper-button>
					<paper-button raised
						on-click="document.querySelector('gn-api').getRange()">
						<iron-icon icon="maps:navigation"></iron-icon>
						Show<br>range
					</paper-button>
				</div>
				
			</div>
		</div>
			
	</template>
	<script>	
		Polymer({
			is: 'gn-ui-search',
			
			properties: {
				startAddress: {
					type: Object,
					notify: true,
					observer: '_setCurrentAddress'
				},
				
				targetAddress: {
					type: Object,
					notify: true,
					observer: '_setCurrentAddress'
				},
				
				currentAddress: {
					type: Object,
					notify: true
				}
				
			},
			
			validateStart: function (event) {
					document.querySelector('#start').geocode();
					document.querySelector('#start-addresses-list').classList.remove('hidden');
			},
			
			validateTarget: function (e) {
					document.querySelector('#target').geocode();
					document.querySelector('#target-addresses-list').classList.remove('hidden');
			},
			
			_setCurrentAddress: function (address) {
				this.currentAddress = address;
			},
			
			_startSelected: function() {
				var list = document.querySelector('#start-addresses-list');
				this.startAddress = list.selectedItem.value;
				
				// Change input
				document.querySelector('#start-input').value = this.startAddress.display_name;
				
				// Hide list
				list.classList.add('hidden');
			},
			
			_targetSelected: function() {
				var list = document.querySelector('#target-addresses-list');
				this.targetAddress = list.selectedItem.value;
				
				// Change input
				document.querySelector('#target-input').value = this.targetAddress.display_name;
				
				// Hide list
				list.classList.add('hidden');
			}
		});
	</script>
</dom-module>
