<link rel="import" href="../libs/paper-button/paper-button.html">
<link rel="import" href="../libs/paper-input/paper-input.html">
<link rel="import" href="../libs/paper-card/paper-card.html">
<link rel="import" href="../libs/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../libs/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../libs/paper-listbox/paper-listbox.html">
<link rel="import" href="../libs/paper-item/paper-item.html">
<link rel="import" href="../libs/iron-icons/maps-icons.html">
<link rel="import" href="../libs/iron-icons/device-icons.html">
<link rel="import" href="../libs/neon-animation/animations/fade-in-animation.html">
<link rel="import" href="../libs/neon-animation/neon-animation-runner-behavior.html">

<dom-module id="gn-ui-menu">
  <style is="custom-style">
    #menu {
      position: fixed;
      z-index: 999;
      background: rgba(255, 255, 255, 0.9);
      transition: left 300ms ease-in-out;
    }

    #submenu {
      display: none;
    }

    .right {
      position: absolute;
      right: 0px;
      display: inline;
    }
  </style>
  <template>
    <paper-card id="menu">
      <div class="card-content">
        <paper-input label="From"></paper-input>
        <div id="submenu">
          <!-- Vehicle -->
          <paper-dropdown-menu label="Vehicle">
            <paper-listbox class="dropdown-content">
              <paper-item>Car-1</paper-item>
              <paper-item>Car-2</paper-item>
              <paper-item>Car-3</paper-item>
              <paper-item>Car-4</paper-item>
            </paper-listbox>
          </paper-dropdown-menu>
          <!-- Battery State -->
          <paper-input
                id="battery" label="Battery state"
                auto-validate
                pattern="100|[1-9][0-9]|[1-9]"
                error-message="Must be a percentage"
                value="{{ battery }}"><div suffix>%</div>
          </paper-input>
          <!-- Add Stopovers -->
          <paper-icon-button icon="icons:add" on-click="addStopover"></paper-icon-button>
          <span>Add Stopovers</span>
        </div>
        <div>
          <template is="dom-repeat" items="{{intermediateobjects}}">
            <paper-input label="{{item.name}}" value="{{item.object}}">
              <div suffix></div>
              <paper-icon-button suffix value="{{index}}" icon="icons:delete" on-click="removeStopover"></paper-icon-button>
            </paper-input>
          </template>
        </div>
        <paper-input label="To"></paper-input>
      </div>
      <div class="card-actions">
        <paper-icon-button icon="arrow-drop-down" id="toggleButton" on-click="toggleSubmenu"></paper-icon-button>
        <div class="right">
          <paper-icon-button 
              icon="maps:directions"
              onclick="document.querySelector('gn-api').getRoute()">
          </paper-icon-button>
        </div>
      </div>
    </paper-card>
  </template>
  <script>
    Polymer({
      is: 'gn-ui-menu',
      behaviors: [Polymer.NeonAnimationRunnerBehavior],
      
      properties:{
        /**
         * Controls submenu visibility 
         */
        submenuHidden: {
          type: Boolean,
          value: true,
          notify: true,
          observer: '_submenuHiddenChanged'
        },

        /**
         * Contains all stopovers
         */
        intermediateobjects: {
          type: Array,
          value: function() {
            return [];
          }
        },

        /**
         * Manages neon animations
         */
        animationConfig: {
          type: Object,
          value: function() {
            return {
              'entry': [{
                name: 'fade-in-animation',
                node: this.$.submenu,
              }],
            }
          }
        },

        /**
         * Menu position in y-axis
         */
        top: {
          type: Number,
          value: 150,
          observer: '_positionChanged' 
        },

        /**
         * Menu position in x-axis
         */
        left: {
          type: Number,
          value: 100,
          observer: '_positionChanged'
        }
      },

      /**
       * Toggles the submenuHidden property 
       */
      toggleSubmenu: function() {
        this.submenuHidden = !this.submenuHidden;
      },

      /**
       * Shows or hides the submenu including
       * vehicle type selection, stopovers, battery state 
       */
      _submenuHiddenChanged: function() {
        if (this.submenuHidden) {
          this.$.toggleButton.icon = "arrow-drop-down";
          this.$.submenu.style.display = 'none';
        }
        else {
          this.playAnimation('entry');
          this.$.toggleButton.icon = "arrow-drop-up";
          this.$.submenu.style.display = 'inline-block';
        }
      },

      /**
       * Updates the menu position
       */
      _positionChanged: function() {
        this.$.menu.style.top = this.top+'px';
        this.$.menu.style.left = this.left+'px';
      },

      /**
       * Adds a stopover object to the intermediate objects list
       */
      addStopover: function() {
          this.push('intermediateobjects', {name: "New Stopover"});
      },

      /**
       * Removes a stopover object from the intermediate objects list
       */
      removeStopover: function(event, index) {
        var index = this.intermediateobjects.indexOf(event.model.item);
        this.splice('intermediateobjects', index, 1)
      }
    });
  </script>
</dom-module>