<link rel="import" href="../libs/polymer/polymer.html">

<link rel="import" href="../libs/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../libs/iron-icons/iron-icons.html">
<link rel="import" href="../libs/paper-fab/paper-fab.html">

<dom-module id="gn-ui-footer">
  <style is="custom-style">
    :host {
      display: block;
    }

    p {
      font-size: 0.8em;
      padding: 5px 5px 0 5px;
    }

    a {
      text-decoration: none;
      margin: 0;
      color: #228E22;
      font-size: 0.8em;
    }

    paper-fab {
      position: absolute;
      top: -25px;
      right: 50px;
    }

    footer {
      position: absolute;
      bottom: 0;
      background: #fff;
      margin: 0;
      padding: 0;
      width: 100%;
      transition: height 1s;
      -moz-transition: height 1s; /* Firefox 4 */
      -webkit-transition: height 1s; /* Safari and Chrome */
      -o-transition: height 1s; /* Opera */
      -ms-transition: height 1s; /* IE9 (maybe) */
    }

    footer.normal {
      height: 50px;
    }

    footer.expanded {
      height: 200px;
    }
  </style>
  <template>
    <footer class$="{{status}}">
      <p>
        <a href="https://www.isp.uni-luebeck.de/research/projects/green-navigation" target="_blank">Institute for Software Engineering and Programming Languages</a>
      </p>
      <paper-fab icon="{{_icon}}" on-click="toggleExpanded"></paper-fab>
    </footer>
  </template>
  <script>
    Polymer({
      is: 'gn-ui-footer',

      properties: {
        /*
         * Expanded or not expanded
         * Can be "normal" or "expanded"
         */
        status: {
          type: String,
          value: "normal"
        },

        /*
         * Icon of the fab
         */
        _icon: {
          type: String,
          value: "arrow-drop-up"
        }
      },

      toggleExpanded: function() {
        this.status = this.status == "normal" ? "expanded" : "normal";
        this._icon = this._icon == "arrow-drop-down" ? "arrow-drop-up" : "arrow-drop-down";
      }
    });
  </script>

</dom-module> 
