<link rel="import" href="../libs/polymer/polymer.html">
<link rel="import" href="../libs/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../libs/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../libs/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../libs/iron-icons/iron-icons.html">
<link rel="import" href="../libs/iron-flex-layout/classes/iron-flex-layout.html">

<!-- Neon Elements -->
<link rel="import" href="../libs/neon-animation/neon-animatable-behavior.html">
<link rel="import" href="../libs/neon-animation/animations/slide-from-left-animation.html">
<link rel="import" href="../libs/neon-animation/animations/fade-out-animation.html">

<dom-module id="gn-ui-prosettings">
<style>
.container {
  padding: 15px;
}
.headline {
  width: 250px;
  height: 30px;

}
.headline h2 {
  margin: 0;
  padding: 1px 0 0 0;
  float: left;
}

.headline .right {
  float: right;
}
</style>
  <template>
   <paper-header-panel>
      <div class="container">
       <div class="headline"><h2>Pro Einstellungen</h2>
	<paper-icon-button class="right" icon="close" on-tap="showHeadermenu"></paper-icon-button>
       </div>
       <div class="clear"></div>
	NOT IMPLEMENTED YET
      </div>
      </paper-header-panel>
  </template>

  <script>
    Polymer({
      is: 'gn-ui-prosettings',
      behaviors: [Polymer.NeonAnimatableBehavior],
      properties: {
        animationConfig: {
          value: function() {
            return {
              'entry': {
                name: 'slide-from-right-animation',
                node: this
              },
              'exit': {
                name: 'slide-right-animation',
                node: this
              }
            }
          }
        }
      },
      showHeadermenu: function() {
        this.fire('headerswitch', {selected: 0}); // Headermenu
      }
    });
  </script>

</dom-module> 
